<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card border-success mb-3" *ngFor="let u of users">
      <div class="card-header d-flex">
        <a
          data-toggle="collapse"
          href="#multiCollapse{{ u.id }}"
          role="button"
          aria-expanded="false"
        >
          {{ u.name }}
        </a>

        <div class="ml-auto p-2">
          <a (click)="edit(u)">edit</a>
        </div>
        <div class="ml-auto p-2">
          <a (click)="deleteUser(u.id)">delete</a>
        </div>

        <app-edit-component *ngIf="u.showEdit" [user]="u"></app-edit-component>
      </div>
      <div
        class="card-body  text-success collapse multi-collapse"
        id="multiCollapse{{ u.id }}"
      >
        <!-- 
               <p class="card-text">
            -->

        <div class="row">
          <div class="col-sm-6">Number</div>
          <div class="col-sm-6">{{ u.id }}</div>
        </div>
        <div class="row">
          <div class="col-sm-6">Name</div>
          <div class="col-sm-6">{{ u.name }}</div>
        </div>
        <div class="row">
          <div class="col-sm-6">Email</div>
          <div class="col-sm-6">{{ u.email }}</div>
        </div>
        <div class="row">
          <div class="col-sm-6">City</div>
          <div class="col-sm-6">{{ u.phone }}</div>
        </div>
      </div>
      <div
        class="card-footer text-muted collapse multi-collapse"
        id="multiCollapse{{ u.id }}"
      >
        <button class="btn btn-outline-primary" (click)="toggleChild(u)">
          Show posts
        </button>

        <app-post *ngIf="u.showPost" [idUser]="u.id"></app-post>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
